In [1]:
98441.76836842652 / 30905743

0.003185225748121523

In [2]:
4326804.0200000005 / 30905743

0.14

In [3]:
9493730.428324953 / 30905743

0.3071833745697346

In [5]:
fly_not = 189481683
ses_all = 189481889
fly_yes = ses_all - fly_not

print(fly_yes)

206

In [6]:
import pandas as pd
import numpy as np

In [22]:
(5000 * 0.544 + 291 * 2.51)/(5000+291)

0.6521281421281421

In [8]:
df = pd.read_csv('cash_desk_reelect_newcustomer_20240525.csv')
df.head()

,session_id,default_pay_mode,bind_card_x1,bytepay_ctr_x1,all_ctr_x1,budget_x1,bind_card_x0,bytepay_ctr_x0,all_ctr_x0,budget_x0
0,202405101320383738a0zb71cy22x3,bp_top,0.000357,0.082155,0.080981,-0.001175,0.000137,0.019261,0.081437,0.062176
1,20240510131620187102za70yb1c22dx,bp_top,0.002636,0.227701,0.795592,0.567891,0.002107,0.223255,0.841327,0.618072
2,20240510205932374969a0bz17yc2d3e,bp_top,0.000692,0.125163,0.191061,0.065897,0.000000,0.000000,0.000000,0.000000
3,20240510084903636354z7ya20xb13w8,bp_top,0.000786,0.101570,0.248613,0.147044,0.000107,0.003223,0.284094,0.280871
4,20240510234744881772az0b71c2dy3e,bp_top,0.002416,0.282996,0.392014,0.109018,0.000410,0.071137,0.419518,0.348381

In [18]:
df['cost'] = df['all_ctr_x1'] - df['bytepay_ctr_x1']
df.head()

,session_id,default_pay_mode,bind_card_x1,bytepay_ctr_x1,all_ctr_x1,budget_x1,bind_card_x0,bytepay_ctr_x0,all_ctr_x0,budget_x0,cost
0,202405101320383738a0zb71cy22x3,bp_top,0.000357,0.082155,0.080981,-0.001175,0.000137,0.019261,0.081437,0.062176,-0.001175
1,20240510131620187102za70yb1c22dx,bp_top,0.002636,0.227701,0.795592,0.567891,0.002107,0.223255,0.841327,0.618072,0.567891
2,20240510205932374969a0bz17yc2d3e,bp_top,0.000692,0.125163,0.191061,0.065897,0.000000,0.000000,0.000000,0.000000,0.065897
3,20240510084903636354z7ya20xb13w8,bp_top,0.000786,0.101570,0.248613,0.147044,0.000107,0.003223,0.284094,0.280871,0.147044
4,20240510234744881772az0b71c2dy3e,bp_top,0.002416,0.282996,0.392014,0.109018,0.000410,0.071137,0.419518,0.348381,0.109018

In [19]:
cost_rate = df['cost'].sum() / df.shape[0]
print(cost_rate)

0.31812262400099994

In [20]:
reelect_rate_reduce = 0.4
global_cons = cost_rate * (1 - reelect_rate_reduce)
print(global_cons)

0.19087357440059996

In [25]:
400 + 150 + 100

370000 + 310000 + 150000 + 150000

980000

In [47]:
import random
import numpy as np

aaa = []
char_count = {}

for i in range(0, 50):
    random_int = random.randint(1, 365)
    aaa.append(random_int)

for char in aaa:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char, count in char_count.items():
    print(f'{char}: {count}')

164: 1
178: 2
115: 1
315: 2
219: 1
298: 2
36: 1
227: 2
65: 1
161: 2
348: 1
270: 1
215: 1
79: 1
75: 1
246: 1
1: 1
179: 1
239: 1
337: 1
144: 1
30: 1
3: 1
287: 1
25: 1
196: 1
221: 1
240: 1
112: 1
61: 1
274: 1
122: 1
143: 1
363: 1
58: 1
66: 1
138: 1
47: 1
131: 1
296: 1
129: 1
145: 1
328: 1
261: 1
154: 1

In [45]:
count = 20
day_start = 365
day_end = day_start - count + 2

bb = 1.0
idx = 0
for aaa in range(day_start, day_end, -1):
    bb = bb * aaa
    idx = idx + 1
print(idx)

cc = 1.0
idx = 0
for ddd in range(0, count):
    cc = cc * 365
    idx = idx + 1
print(idx)

res = count * (count - 1) * 365 * bb / cc / 2

print(bb)
print(cc)
print(res)

18
20
8.634628386520805e+45
1.7613971492896263e+51
0.33996391946400006

In [61]:
count = 20

def qeuery(n):
    res = 1.0
    for tmp in range(365, 365 - n, -1):
        res = res * tmp
    return res

aaa = qeuery(count)
bbb = 1.0 * (365 ** count)

print(aaa)
print(bbb)

res = 1 -  aaa / bbb

print(res)

1.0366907533424609e+51
1.7613971492896263e+51
0.41143838358058005

In [56]:
for tmp in range(365, 365 - count - 1, -1):
    print(tmp)

365
364
363
362
361
360
359
358
357
356
355
354
353
352
351
350
349
348
347
346
345
344
343
342

In [3]:
(0.019696055 - 0.01795548) / 0.01795548

0.09693837201790212

In [2]:
start = 3202
curr = 3359
lift = (curr - start) / start
absv = lift * 150000

print(start)
print(curr)
print(lift)
print(absv)

3202
3359
0.04903185509056839
7354.778263585259

In [5]:
start = 400 + 150 + 30 
curr = 1400
lift = (curr - start) 
lift_rate = lift / curr
print(start)
print(curr)
print(lift)
print(lift_rate)

580
1400
820
0.5857142857142857

In [2]:
400 + 150 + 30

580

In [1]:
import tensorflow as tf

tf.random.normal([75, 1])

<tf.Tensor: shape=(75, 1), dtype=float32, numpy=
array([[ 9.0170747e-01],
       [ 1.7704237e+00],
       [ 5.2429974e-01],
       [ 2.3489185e-01],
       [ 4.1075656e-01],
       [-5.5960409e-02],
       [-9.1363883e-01],
       [-4.3466392e-01],
       [-1.4827926e+00],
       [ 9.9481875e-01],
       [ 8.3234864e-01],
       [ 7.6379174e-01],
       [ 1.2167101e+00],
       [-1.2072438e+00],
       [-2.9005787e-01],
       [ 2.7994636e-01],
       [ 5.7792288e-01],
       [-1.0001831e+00],
       [-2.7058321e-01],
       [-2.6633635e+00],
       [-5.4931700e-01],
       [ 9.9252087e-01],
       [-9.3917674e-01],
       [ 1.1472623e+00],
       [ 8.2475060e-01],
       [-3.8489792e-01],
       [ 4.4531772e-01],
       [ 6.2540233e-02],
       [-1.0552011e+00],
       [ 4.8130518e-01],
       [-1.6969233e+00],
       [-6.3294500e-01],
       [ 8.3897710e-01],
       [-8.5873252e-01],
       [-2.4359901e+00],
       [ 1.4626073e+00],
       [-8.7700045e-01],
       [ 5.8995080e-01],
       [-1.7367984e-01],
       [ 1.4174916e+00],
       [-3.4677550e-01],
       [-1.1683705e+00],
       [-5.4119587e-01],
       [-1.8622320e+00],
       [-7.6769060e-01],
       [ 4.4722781e-01],
       [-3.0446854e-01],
       [-1.1770560e-01],
       [ 1.1003255e+00],
       [-4.8200440e-02],
       [ 1.0157937e+00],
       [-2.0454433e+00],
       [ 6.9328535e-01],
       [ 1.1847571e+00],
       [ 9.5217651e-01],
       [-1.0431217e+00],
       [-1.1197085e-03],
       [ 8.0538166e-01],
       [-4.5706430e-03],
       [-1.1775082e-01],
       [-5.5387259e-01],
       [ 1.5765803e+00],
       [-1.0808226e+00],
       [ 3.2184467e-02],
       [-6.4393777e-01],
       [ 1.5705745e+00],
       [-2.3344590e-01],
       [-6.2646079e-01],
       [ 3.6898211e-01],
       [-1.2454776e+00],
       [ 3.8827640e-01],
       [-2.1214227e-01],
       [ 6.3435310e-01],
       [-2.0005955e-01],
       [-4.3735212e-01]], dtype=float32)>

In [4]:
tf.random_uniform_initializer(-0.01, 0.01)

In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Created on 2022/8/2 22:20
@author:   gongqingyi
@email:    gongqingyi@bytedance.com
"""

from pytz import timezone
from datetime import datetime, timedelta


UTC = timezone('UTC')
US = timezone('US/Eastern')
CN = timezone('Asia/Shanghai')


def get_datetime(datetime_string=None, fmt='%Y-%m-%d %H:%M:%S', tz=UTC):
    # %Y-%m-%d %H:%M:%S.%f
    """ 把指定时区的时间字符串转换成 datetime 对象 """
    if datetime_string is None:
        return from_timestamp(tz=tz)
    return tz.localize(datetime.strptime(datetime_string, fmt).replace(tzinfo=None))


def get_datetime_string(dt=None, fmt='%Y-%m-%d %H:%M:%S'):
    """ 把 datetime 对象格式化成时间字符串， 丢弃时区 """
    if dt is None:
        return datetime.now(tz=CN).strftime(fmt)
    return dt.strftime(fmt)


def get_datetime_ms_string(dt=None):
    """ 把 datetime 对象格式化成时间字符串， 丢弃时区 """
    fmt = '%Y%m%d%H%M%S%f'
    if dt is None:
        return datetime.now(tz=CN).strftime(fmt)[:-3]
    return dt.strftime(fmt)[:-3]


def get_datetime_us_string(dt=None):
    """ 把 datetime 对象格式化成时间字符串， 丢弃时区 """
    fmt = '%Y%m%d%H%M%S%f'
    if dt is None:
        return datetime.now(tz=CN).strftime(fmt)
    return dt.strftime(fmt)


# ----------------------------------------------------------------------------------------------------------------------


def get_timestamp(dt=None):
    if dt is None:
        dt = datetime.now()
    """ 获取秒级时间戳 """
    return int(dt.timestamp())


def get_milli_timestamp(dt=None):
    if dt is None:
        dt = datetime.now()
    """ 获取毫秒级时间戳 """
    return int(dt.timestamp() * 1e3)


def get_micro_timestamp(dt=None):
    if dt is None:
        dt = datetime.now()
    """ 获取微秒级时间戳 """
    return int(dt.timestamp() * 1e6)


# ----------------------------------------------------------------------------------------------------------------------


def from_timestamp(timestamp=-1, tz=UTC):
    if timestamp == -1:
        timestamp = get_timestamp()
    """ 秒级时间戳转datetime """
    return datetime.fromtimestamp(timestamp, tz=tz)


def from_milli_timestamp(timestamp=-1, tz=UTC):
    if timestamp == -1:
        timestamp = get_milli_timestamp()
    """ 毫秒级时间戳转datetime """
    seconds = int(timestamp / 1e3)
    milliseconds = timestamp % 1e3
    return datetime.fromtimestamp(seconds, tz=tz) + timedelta(milliseconds=milliseconds)


def from_micro_timestamp(timestamp=-1, tz=UTC):
    if timestamp == -1:
        timestamp = get_micro_timestamp()
    """ 微秒级时间戳转datetime """
    seconds = int(timestamp / 1e6)
    microseconds = timestamp % 1e6
    return datetime.fromtimestamp(seconds, tz=tz) + timedelta(microseconds=microseconds)


if __name__ == '__main__':
    print(get_datetime(tz=CN))
    print(get_datetime_string())
    print(get_datetime_string(fmt='%Y%m%d%H%M%S%f'))

2025-03-04 17:11:56+08:00
2025-03-04 17:11:56
20250304171156362827

In [2]:
get_datetime(fmt='%Y%m%d 23:59:59', tz=CN)

datetime.datetime(2025, 3, 4, 17, 12, 46, tzinfo=<DstTzInfo 'Asia/Shanghai' CST+8:00:00 STD>)

In [6]:
curr_dt_str = get_datetime_string(fmt="%Y-%m-%d")
curr_dt_start = get_datetime(curr_dt_str, fmt="%Y-%m-%d", tz=CN)
curr_dt_end = curr_dt_start + timedelta(seconds= 3600 * 24 - 1)

yest_dt_22h = curr_dt_start - timedelta(seconds= 3600 * 2)

print(curr_dt_start)
print(curr_dt_end)
print(yest_dt_22h)

2025-03-04 00:00:00+08:00
2025-03-04 23:59:59+08:00
2025-03-03 22:00:00+08:00

In [ ]:
yest_dt_22h = curr_dt_start - timedelta(seconds= 3600 * 2)