In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
# 加载 JSON 文件
with open('data3/xtr.json', 'r') as reader:
    records = json.load(reader)

print(len(records))

2352

In [4]:
for idx, record in enumerate(records):
    res = ['i,j,profit,k,budget']
    sum = 0

    all_ctcvr = record['all_ctcvr']
    credit_ctcvr = record['credit_ctcvr']
    credit_activate = record['credit_activate']

    for idy, ctcvr in enumerate(credit_activate):
        res.append("%d,%d,%f,%d,%f" % (idx, idy, ctcvr, 0, all_ctcvr[idy] - credit_ctcvr[idy]))

        if idx == 2:
            sum += credit_activate[idy]

    print(sum)

    if idx == 10:
        break

    res_np = np.array(res)
    np.savetxt('data3/knp_budget_' + str(idx) + '.csv', res_np, fmt='%s')

0
0
0.5390863705
0
0
0
0
0
0
0
0

In [5]:
sum_budget = 0.017659 + 0.272917 + 0.282923 + 0.357699 + 0.194918 + 0.274299



sum_budget * 0.002371284117925311

0.0033207818480043743

In [6]:
1 * 6.95E-4 + 1 * 0.001103 + 1 * 3.45E-4 + 1 * 7.71E-4 + 1 * 3.85E-4

0.003299

In [7]:
1 * 0.017659 + 1 * 0.272917 + 1 * 0.282923 + 1 * 0.357699 + 1 * 0.194918

1.126116

In [8]:
df = pd.read_csv('data3/knp_budget_1.csv')
df.head(20)

   i  j    profit  k    budget
0  1  0  0.000695  0  0.017659
1  1  1  0.001103  0  0.272917
2  1  2  0.000345  0  0.282923
3  1  3  0.000771  0  0.357699
4  1  4  0.000385  0  0.194918
5  1  5  0.000329  0  0.274299

In [9]:
df["x1"] = df['budget'] * 0.009205246221105398
df["x2"] = df['profit'] - df["x1"]
df["x3"] = df['profit'] / df['budget']
df.head(20)

   i  j    profit  k    budget        x1        x2        x3
0  1  0  0.000695  0  0.017659  0.000163  0.000532  0.039357
1  1  1  0.001103  0  0.272917  0.002512 -0.001409  0.004042
2  1  2  0.000345  0  0.282923  0.002604 -0.002259  0.001219
3  1  3  0.000771  0  0.357699  0.003293 -0.002522  0.002155
4  1  4  0.000385  0  0.194918  0.001794 -0.001409  0.001975
5  1  5  0.000329  0  0.274299  0.002525 -0.002196  0.001199

In [47]:
df['budget'].sum()

1.400415

In [11]:
0.017659 + 0.272917 + 0.357699 + 0.194918

0.843193